html {
    font-family: 'Lato', sans-serif;
    font-size: 62.5%;
}

body{
z-index: 10;
background-size: cover;
}


h1 {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-align: center;    
    font-size: 4rem;
}

.nav-bar {
    padding: 1.6rem 0rem;
}

.nav-bar a {
    padding: 1.6rem 2.0rem;
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.6rem;
}

.nav-bar a:hover {
  background-image: linear-gradient(to right, rgba(35, 167, 255, 0.2), rgba(0, 102, 255, 0.2));
  border-radius: 2px;
}

.about-text {
    text-align: center;
    margin: 3.0rem 6.0rem;
}

footer {
    position: absolute;
    bottom: 0%;
}

.mainDiv {
    position: relative;
    padding: 10rem 15rem 0rem 15rem;
}

.form {
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%, -50%);
    display: block;
}

.input{
    border: none;
    border-radius: 2px;
    padding: 1.5rem 2rem;
    font-family: inherit;
    font-size: 1.5rem;
    width: 85%;
    margin-bottom: 1rem;
}
 .input:focus {
     outline: none;
     border-bottom: 3px solid rgb(42, 121, 240);
 }


.submit, .submit:link, .submit:visited {
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    padding: 1.5rem 2rem;
    border-radius: .5rem;
    transition: all 0.2s;
    font-size: 1.6rem;
    border: none;
    cursor: pointer;
    outline: none;
    margin-left: 32%;
  }

  .submit:hover {
    transform: translatey(-0.2rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  }

  .submit:active {
      transform: translateY(0.2rem);
  }

  .output {
      margin-top: 3rem;
      padding: 3rem 5rem;
      position: relative;
     text-align: center;
  }

#message-1 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #ffffff;
}

#message-2 {
    font-size: 2rem;
    color: #ffffff;
    text-transform: uppercase;

}
 #video {
     position: absolute;
    top: 0;
    left: 0;
     z-index: -1;
     height: 100%;
     width: 100%;
     background-size: cover;
     object-fit: cover;
     opacity: .7;
 }

 .about-text {
    font-size: 2rem;
    color: #ffffff;
    text-transform: uppercase;
 }
 .about-details {
     color: #ffffff;
     font-size: 2rem;
     width: 90%;
     text-transform: uppercase;
    border-bottom: 1px solid #ffffff;
 }
 
 .help-text{
     margin: .5rem;
 }

 .help-text li {
     color: #ffffff;
     font-size: 1.5rem;
     text-transform: uppercase;
 }

 .container {
     margin: 10rem 0rem 0rem 7rem;
 }
 .main-bck {
    background-image: linear-gradient(to right, rgba(0,250,154, .4), rgba(60,179,113, .4));
height: 97vh;
 }

 .main-help {
     text-align: center;
 }

 #help-text {
     color: #ffffff;
     text-transform: uppercase;
    margin-bottom: 2rem;
    margin-top: 10rem;


 }


 #email a{
     color: #ffffff;
     text-decoration: none;
     font-size: 1.5rem;
     border-bottom: 1px solid #ffffff;
     margin-top: 2rem;

 }